.Button {
    background-color: transparent;
    min-width: 6rem;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px 1px transparent;
}

.Button:disabled {
    color: #b4b4b4;
    border-color: #b4b4b4;
    box-shadow: 0.5px .5px 3px  #b4b4b4;
    cursor: not-allowed;
}
/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Success {
    color: #5C9210;
    border-color: #5C9210;
    box-shadow: 0.5px .5px 3px  #5C9210;
}

.Danger {
    color: #944317;
    border-color: #944317;
    box-shadow: 0.5px .5px 3px #944317;
}

